* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px /16px = 0.625 || 16px is the default font size of desktop browser */
  /* in order to have fluid and responsive webpage are set to rem and % value instead of px  */
  font-size: 100%; /* considering for 1920px width*/
  /* scroll animation */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #666;

  overflow-x: hidden;
}

strong {
  font-weight: 500;
}

.container {
  margin: 0 auto; /*it align content to centre*/
  padding: 1.2rem;
}

/*-----------------------------------*/
/*          Header*/
/*-----------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertical alignment*/

  background-color: #fff9e7;
  /* for sticky nav*/
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

#logo {
  height: 2.4rem;
  width: auto;
}
/*-----------------------------------*/
/*                                   */
/*-----------------------------------*/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  list-style: none;
  text-transform: uppercase;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 1.6rem;

  display: inline-block;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #febe10;
}

#nav-cta:link,
#nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #febe10;
}
#nav-cta:hover,
#nav-cta:active {
  background-color: #e5ab0e;
}
/* Sticky */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;

  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;

  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.4);
  background-color: white;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
#icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #febe10;
}

/*-----------------------------------*/
/*         section hero*/
/*-----------------------------------*/

.section-hero {
  background-color: #fff9e7;
  padding: 4.8rem 0 8rem 0;
}
.hero {
  margin: 0 auto; /* to align content in center*/
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

#hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.2rem;
}

#hero-img {
  width: 100%;
}

.btn--clr-1:link,
.btn--clr-1:visited {
  background-color: #febe10;
  color: #332603;
}
.btn--clr-1:hover,
.btn--clr-1:active {
  background-color: #e5ab0e;
}

.btn--clr-2:link,
.btn--clr-2:visited {
  background-color: #fff;
  color: #444;
}

.btn--clr-2:hover,
.btn--clr-2:active {
  background-color: #fff2cf;
  box-shadow: inset 0 0 0 3px #fff; /* inset will create shadow inside the box*/
}

.delivered-meals {
  display: flex;
  align-items: flex-end;

  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;

  border: 3px solid #fff9e7;
}

.delivered-txt {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1.6rem;
}

.delivered-txt span {
  color: #e5ab0e;
  font-weight: 700;
}

/***********************************************/
/*           Section-branding                            */
/***********************************************/
.section-branding {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-branding {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.2rem;
}
.branding-logos {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}
.branding-logos img {
  height: 1.6rem;
  /*value can varry form 0 to 1 or 0% to 100%*/
  filter: grayscale(95%) brightness(95%) opacity(45%);
}

/*-----------------------------------*/
/*          how it works                         */
/*-----------------------------------*/
.section-works {
  padding: 4.8rem;
}
.section-works div {
  padding: 5px;
  font-size: 20px;
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.step-image-box::before,
.step-image-box::after {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: -1;
}
.step-image-box::before {
  width: 65%;

  padding-bottom: 65%;

  background-color: #fff9e7;
}
.step-image-box::after {
  width: 55%;

  padding-bottom: 55%;

  background-color: #ffecb7;
}

#step-img {
  width: 35%;
}

#step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #b4b4b4;
  margin-bottom: 1.2rem;
  /* text-align: center; */
}

#step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*-----------------------------------*/
/*          section-meals              */
/*-----------------------------------*/
.section-meals {
  padding: 9.6rem;
}

.meal-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 11px;
  overflow: hidden;

  transition: all 0.4s;
}
.meal-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.07);
}

.meal-content {
  padding: 2.4rem;
}
#meal-img {
  width: 100%;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.meal-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #222;
  letter-spacing: 0.25rem;
  border-radius: 50px;
}

#tag--vegetarian {
  background-color: #51cf66;
}
#tag--vegan {
  background-color: #a9e34b;
}
#tag--paleo {
  background-color: #ffd43b;
}

#meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
#meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2rem;
}
#meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

#meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e5ab0e;
}

.diets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding-bottom: 1.2rem;

  border: 2px solid #00000031;
  border-radius: 1.1rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

#list-icon {
  height: 3rem;
  width: 3rem;
  color: #e5ab0e;
}

#m-link:link,
#m-link:visited {
  color: #febe10;
  text-decoration: none;
  /* border-bottom: 1.5px solid #ffd43b; */

  border-bottom: 1.5px solid currentColor;
  display: inline-block;
  padding-bottom: 2px;

  transition: all 0.3s;
}

#m-link:hover,
#m-link:active {
  color: #e5ab0e;
  border-bottom: 1.5px solid transparent;
}

/***************************************************/
/*             section testimonials                 */
/***************************************************/
.section-testimonials {
  background-color: #fff9e7;
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.testimonial-container {
  padding: 4.8rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 9.6rem;
}
#testimonial-txt {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
  text-align: justify;
}

#testimonial-name {
  font-size: 1.4rem;
  color: #6f6f6f;
}

#testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;

  /* transition: all 5s; */
}

#testimonial-img:hover {
  border: 4px solid #ffd43b;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  padding: 1.2rem;
}
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  transition: all 0.5s;
}

.gallery-item img:hover {
  /* transform: rotate(15deg); */
  transform: scale(1.2);
}

/***************************************************/
/*             section pricing                */
/***************************************************/

.section-pricing {
  padding: 9.6rem;
}

.plan-card {
  background-color: #fff1c7;
  padding: 4.8rem;
  border-radius: 11px;
  width: 65%;
}

.plan-card--starter {
  justify-self: end;
  background-color: #fff;
  border: 4px solid #fff1c7;
}
.plan-card--complete {
  position: relative;
  overflow: hidden;
}

.plan-card--complete::after {
  content: "Best Value";
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #febe10;
  border-bottom: 2px dashed #999;
  padding: 0.8rem 3.2rem;

  position: absolute;
  top: 5%;
  right: -13%;

  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

#plan-name {
  color: #ffd43b;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
#plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #444;
  margin-bottom: 1.6rem;
}
#plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
#plan-txt {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-sign {
  text-align: center;
  margin-top: 4.8rem;
}

#plan-details {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}

/***************************************************/

#feature-icon {
  color: #febe10;
  height: 3.6rem;
  width: 3.6rem;
  margin-bottom: 3.6rem;

  /* background-color: #fff9e7; */
  border: 4px solid #ffecb7;
  border-radius: 50%;
  padding: 0.5rem;
}
#feature-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
#feature-txt {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}

/***************************************************/
/*             section callToAction          */
/***************************************************/

.section-callToAction {
  padding: 9.6rem;
  position: relative;
}

.callToAction {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(15deg, #febe10, #ffe59f);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);

  border-radius: 11px;
  height: 50rem;

  overflow: hidden;
}

.callToAction-txt-box {
  color: #d9480f;

  padding: 3.2rem 5.2rem 5.2rem 5.2rem;
}

#callToAction-txt {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

.callToAction #heading-secondary {
  color: inherit;

  margin-bottom: 3.2rem;
}

.callToAction-img-box {
  background-image: linear-gradient(15deg, #febf105b, #ffe59f73),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.callToAction-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 3.2rem;
}

.callToAction-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 0;
}

.callToAction-form input,
.callToAction-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit; /* it will inherit from parent element*/
  border: none;

  color: inherit;
  background-color: #ffe59f;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.callToAction-form input::placeholder {
  color: #aaaaaa88;
}

.callToAction *:focus {
  outline: none; /* it will remove the accesabilty focus state*/
  /* outline: 2px dotted #e5ab0e; */
  box-shadow: inset 0 0 0 0.6rem rgba(255, 255, 255, 0.4);
}

/***************************************************/
/*             footer      */
/***************************************************/
.footer {
  padding: 12.8rem 9.6rem 9.6rem 9.6rem;

  border-top: 1px solid #dddddde3;
}

#grid--footer {
  grid-template-columns: 1.4fr 1.4fr repeat(3, 1fr);
}

#contacts-head {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #555;
}

.social-links {
  margin: 1.4rem 0;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-links li a ion-icon:hover {
  color: #febe10;
}

.social-links li a ion-icon {
  height: 2.4rem;
  width: 2.4rem;
}

#copyright {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: auto;
}

.logos-col {
  display: flex;
  flex-direction: column;
}

.address-col {
  font-size: 1.2rem;
  line-height: 1.6;
}

#contacts-link {
  text-decoration: none;
  color: #767676;
}
